<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Villa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCA4A0661C37996F00ED6A63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCA4A07A1C37996F00ED6A63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCA4A0851C37996F00ED6A63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
